.tiles, .tiles img {
    height: 150px !important;
}

.reveal{
    position: relative;
    transform: translateY(30px);
    opacity: 0;
    transition: 1s all ease;
}
  
.reveal.active{
    transform: translateY(0);
    opacity: 1;
}

.reveal2{
    position: relative;
    transform: translateY(30px);
    opacity: 0;
    transition: 1.5s all ease;
}
  
.reveal2.active{
    transform: translateY(0);
    opacity: 1;
}